*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    margin: 100px 20%;
}

/* section */
section{
    display: flex;
}

/* add book */
#bookForm{
    margin-top: 20px;
}
#bookForm input{
    width: 300px;
    height: 30px;
    margin-top: 5px;
}
#bookForm > div{
    margin-bottom: 20px;
}
#bookForm label{
    font-weight: 550;
}
#submit input{
    color: white;
    background-color: black;
    border: none;
    cursor: pointer;
}

/* book list */
.bookList{
    margin-left: 50px;
}
table{
    margin-top: 20px;
    width: 500px;
}
table th{
    height: 30px;
    color: white;
    background-color: black;
    width: 100px;
}

/* message display */
.success, .error{
    color: white;
    padding: 5px;
    margin: 5px 0 15px 0;
}
.success{
    background-color: green;
    width: 300px;
}
.error{
    background-color: red;
    width: 300px;
}

/* style added book list  */
#List tr{
    color: black;
    height: 25px;
    background-color: limegreen;
    text-align: center;
}
#List a{
    color: black;
    text-decoration: none;
}