*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    margin: 100px 20%;
}

/* section */
section{
    display: flex;
}

/* add book */
#book-form{
    margin-top: 20px;
}
#book-form input{
    width: 300px;
    height: 30px;
    margin-top: 5px;
}
#book-form > div{
    margin-bottom: 20px;
}
#book-form label{
    font-weight: 550;
}
#submit input{
    color: white;
    background-color: black;
    border: none;
    cursor: pointer;
}

/* book list */
.book-list{
    margin-left: 50px;
}
.book-list table{
    margin-top: 20px;
}
table {
    width: 500px;
}
table th{
    height: 30px;
    color: white;
    background-color: black;
    width: 100px;
}

/* message display */
.success, .error{
    color: white;
    padding: 5px;
    margin: 5px 0 15px 0;
}
.success{
    background-color: green;
}
.error{
    background-color: red;
}
